.navbarBarra{
    display: flex;
    justify-content: space-between;
    background-color: #4c1b4b;
}

.cursor{
    cursor: pointer;
    color: white;
}

.text-decorator-none{
    text-decoration: none;
}