.navbarBarra{
    display: flex;
    justify-content: space-between;
    background-color: #170312;
    color: white !important;
}

.cursor{
    cursor: pointer;
    color: white;
}

.text-decorator-none{
    text-decoration: none;
}