.loginPagina{
    width: 100vw;
    min-height: 100vh;

    justify-content: center;
    align-items: center;

    background-image: url('https://i.imgur.com/pG4oVjX.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card{
    background: linear-gradient(36deg, #f0d25ac1 8%, #8f256ae1 89%);
    display: flex;
    flex-direction: column;
    width: 30vw;
    min-height: 40vh;
    padding: 1 rem;
    border-radius: 10px;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.loginBotaoEntrar{
    margin-top: 10px;
    text-align: center;
}

.text-decorator-none{
    text-decoration: none;
}