.caixa{
    background-color:#33032F
}

.titulo{
    color: white !important;
    font-weight: 'bold';
}

.botao{
    border-color: white !important;
    background-color:#33032F;
    color: white !important
}

.postagens{
    background-color: #531253;
}

.text-decorator-none{
    text-decoration: none;
}