.caixa{
    background-color:#CF5C36
}

.titulo{
    color: white !important;
    font-weight: 'bold';
}

.botao{
    border-color: white !important;
    background-color:#33032F;
    color: white !important
}

.postagens{
    background-color: #C8AD55;
}